* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F8F8;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web__logo {
  margin-left: 20px;
  width: 125px;
}

.logged__icon {
  margin-right: 20px;
  margin-top: 20px;
  width: 20px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 114px;
}

.left__content {
  width: 632px;
  margin-right: 122px;
}

.title {
  font-size: 3em;
}

.product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8em;
  margin-top: 30px;
}

.product__image {
  width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 4px 4px 15px grey;
          box-shadow: 4px 4px 15px grey;
}

.product__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__info {
  margin-left: 25px;
}

.product__name {
  margin-bottom: 25px;
  font-weight: 500;
}

.product__price {
  font-size: 1.5em;
}

.product__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.summary {
  background-color: #FFFFFF;
  width: 366px;
  height: 339px;
  padding: 32px;
  -webkit-box-shadow: 4px 4px 15px grey;
          box-shadow: 4px 4px 15px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summary__description {
  margin-top: 25px;
  margin-bottom: 25px;
}

.summary__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summary__total {
  margin-bottom: 25px;
}

.summary__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__shop {
  color: #717171;
}

.end {
  background: black;
  padding: 32px;
  font-size: 0.875em;
}

.footer__contact {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__button {
  text-decoration: none;
  color: white;
  border: solid 3.2px;
  padding: 4.8px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  border-radius: 60px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 20px;
}

.footer__a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__item {
  margin: 0 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="submit"] {
  background-color: #3E6AE1;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 60px;
  font-weight: 600;
  margin-bottom: 25px;
}
/*# sourceMappingURL=cart.css.map */