*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.web__logo{
    margin-left: 20px;
    width: 125px
}

.logged__icon{
    margin-right: 20px;
    margin-top: 20px;
    width: 20px
}

.end{
    background: black;
    padding: 32px;
    font-size: 0.875em; 
}

.content{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 114px;
}

.leftside{
    width: 60%;
}

.title{
    font-size: 3em;
    margin-bottom: 50px;
}

.checkout{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &__columns{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    &__column{
        width: 50%;
        margin-right: 30px;
    }

    &__item{
        margin-bottom: 30px;
    }

    &__paragraph{
        margin-bottom: 15px;
    }

    &__textinput{
        border: none;
        width: 100%;
        height: 44px;
        padding-left: 20px;
        padding-right: 20px;
        background: #ECECEC;
        border-radius: 60px;
    }

    &__select{
        background: #ECECEC;
        border: none;
        width: 100%;
        height: 44px;
        border-radius: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;

    &__cart{
        width: 50%;
        margin-right: 30px;
    }
}

input[type="submit"]{
    
    width: 50%;
    margin-right: 30px;
    background-color: #3E6AE1;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding:12px;
    border-radius: 60px;
    font-weight: 600;
}

.summary{

    background-color: #FFFFFF;
    width: 366px;
    height: 339px;
    padding: 32px;
    box-shadow: 4px 4px 15px grey;
    display: flex;
    flex-direction: column;
    
    &__description{
        margin-bottom: 30px;
    }

    &__item{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__total{
        margin-bottom: 25px;
    }

    &__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__shop{
        color: #717171;
    }
}

.footer{
    &__contact{
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__button{
        text-decoration: none;
        color: white;
        border: solid 3.2px;
        padding: 4.8px;
        padding-left: 32px;
        padding-right: 32px;
        font-weight: 500;
        border-radius: 60px;
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 20px;
    }
    &__a{
        color: #FFFFFF;
        text-decoration: none;
    }
    &__item{
        margin: 0 10px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}