* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F8F8;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web__logo {
  margin-left: 20px;
  width: 125px;
}

.logged__icon {
  margin-right: 20px;
  margin-top: 20px;
  width: 20px;
}

.check {
  width: 100%;
  margin-top: 95px;
  margin-bottom: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.check__image {
  margin-bottom: 50px;
}

.check__congratulations {
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

.check__paragraph {
  color: #717171;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 40px;
}

input[type="button"] {
  background-color: #3E6AE1;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 60px;
  font-weight: 600;
  margin-bottom: 25px;
}

.end {
  background: black;
  padding: 32px;
  font-size: 0.875em;
}

.footer__contact {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__button {
  text-decoration: none;
  color: white;
  border: solid 3.2px;
  padding: 4.8px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  border-radius: 60px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 20px;
}

.footer__a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer__item {
  margin: 0 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=done.css.map */