*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-left: 20px;
    font-size: 28px;
    font-weight: 600;
}

h2{
    font-size: 52px;
    font-weight: 600;
}

p{
    font-size: 16px;
    font-weight: 400;
}

.nav{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.nav__menu{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style: none;
}

.nav__menu a{
    color:black;
    text-decoration: none;
}

.nav__item{
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
}

.billboard{
    width: 100%;
    height: 829px;
    background-image: url(../resources/models.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.billboard__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 550px;
}

.first{
    width: 100%;
    height: 829px;
    background-image: url(../resources/cybertruck.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 500px;
}

.second{
    width: 100%;
    height: 802px;
    background-image: url(../resources/solarenergy.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-bottom: 500px;
}

.third{
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third__figure{
    width: 50%;
    height: 399.5px;
}

.third__figure img{
    width: 100%;
}

.third__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third__content-div{
    text-align: center;
    padding-bottom: 50px;
}

.footer{
    background: black;
    padding: 40px;
    font-size: 14px;
    
}

.footer__contact{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__button{
    width: 10%;
}

.footer__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 20px;
}

.footer__menu a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer__item{
    margin: 0 10px;
}