*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.web__logo{
    margin-left: 20px;
    width: 125px
}

h2{
    font-size: 3.25em;
    font-weight: 600;
}

p{
    font-size: 1em;
    font-weight: 400;
}

.carousel__title{
    font-size: 3.25em;
    font-weight: 600;
    color: black;
}

.item__text{
    font-size: 0.875em;
    font-weight: 500;
}

.carousel__button{
    text-decoration: none;
    color: black;
    border: solid 3.2px;
    padding: 4.8px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 500;
    border-radius: 60px;
}

.button{
    text-decoration: none;
    color: white;
    border: solid 3.2px;
    padding: 4.8px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 500;
    border-radius: 60px;
}

.button2{
    text-decoration: none;
    background: white;
    padding: 8px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 60px;
}

.button__span{
    font-weight: 500;
    color: black;
}

.button3{
    text-decoration: none;
    background: black;
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 60px;
}

.button3__span{
    font-weight: 500;
    color: white;
    width: 50%;
}

.principal{
    width: 100%;
}

.navigation{
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menu__container{
    display: flex;
    width: 100%;
}

.menu__container--mobile{
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 35px;
}

.menu__container--mobile .menu{
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
}

.menu__action{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.menu__action img{
    width: 30px;
}

.menu__close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}

.menu__close img{
    width: 30px;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    list-style: none;
    margin-right: 20px;
}

.menu a{
    color:black;
    text-decoration: none;
}

.menu__item{
    font-weight: 500;
    margin: 0 10px;
}

.swiper{
    height: 900px;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    
}

.carousel__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

main > section {
    overflow: hidden;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 800px;
}

.frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame__absolute{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 100px;
}

.frame__content{
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80%;
}

.accesories{
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accesories__figure{
    margin-top: 30px;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.accesories__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accesories__content-div{
    text-align: center;
    padding-bottom: 50px;
}

.order{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    width: 80%;
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.form__firstcolumn{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

.form__secondcolumn{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

.form__thirdcolumn{
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
}

.form__paragraph{
    font-size: 1em;
    font-weight: 500;
    color: #717171;
    padding-bottom: 16px;
    padding-left: 16px;
}

.modelinput{
    border: none;
    background: #ECECEC;
    height: 44px;
    padding: 20px;
    border-radius: 60px;
}

.textinput{
    border: none;
    width: 100%;
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ECECEC;
    border-radius: 60px;
}

.textarea{
    border: none;
    background: #ECECEC;
    border-radius: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: 158px;
    
}

.formbutton{
    text-decoration: none;
    background: #3E6AE1;
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 60px;
}

.form__item{
    width: 100%;
    margin-bottom:  32px;
    
}

.select__country{
    background: #ECECEC;
    border: none;
    width: 100%;
    height:44px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.select__contact{
    background: #ECECEC;
    border: none;
    width: 100%;
    height: 44px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.select__model{
    background: #ECECEC;
    border: none;
    width: 100%;
    height: 44px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="submit"]{
    
    background-color: #3E6AE1;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding:12px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 60px;
    font-weight: 600;
}

.footer{
    background: black;
    padding: 32px;
    font-size: 0.875em; 
}

.footer__contact{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.footer__menu a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__item{
    margin: 0 10px;
}