@media all and (max-width: 1200px) {
    .form {
        width: 80%;
        flex-wrap: wrap;
    }

    .accesories__content{
        font-size: .8em;
    }
}

@media all and (max-width: 768px) {

    .swiper {
        height: 500px;
    }

    .navigation {
        display: none;
    }

    .button{
        border: solid 2.2px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    .button3{
        padding: 8px;
        padding-left: 80px;
        padding-right: 80px;
        border-radius: 60px;
    }

    .carousel__absolute{
        font-size: .6em;
        top: 80px;
    }

    .carousel__button{
        border: solid 2.2px;
        padding: 3px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 60px;
    }

    .frame{
        height: 400px;
    }

    .frame__absolute {
        font-size: .6em;
        top: 50px;
    }

    .frame__content {
        margin-bottom: 65%;
    }

    .accesories__content{
        font-size: .6em;
    }

    .order{
        font-size: .6em;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form {
        width: 80%;
        padding: 10px;
    }

    .form > div {
        width: 100%;
    }

    .form .textinput, .form select, .form textarea {
        width: 100%;
    }

    .footer{
        font-size: 0.7em; 
    }
}

@media all and (max-width: 560px){

    .swiper {
        height: 400px;
    }

    .carousel__absolute{
        font-size: .5em;
        top: 70px;
    }

    .carousel__button{
        border: solid 2px;
    }

    .frame {
        height: 350px;
    }

    .frame__absolute {
        top: 50px;
        font-size: .5em;
    }

    .frame__content {
        margin-bottom: 70%;
    }

    .accesories{
        flex-direction: column-reverse;
    }

    .accesories__content{
        padding-top: 40px;
        font-size: .5em;
    }

    .accesories__content-div{
        padding-bottom: 25px;
    }

    .order{
        font-size: .5em;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form {
        width: 80%;
        padding: 10px;
    }

    .form > div {
        width: 100%;
    }

    .form .textinput, .form select, .form textarea {
        width: 100%;
    }

    .footer{
        font-size: 0.5em; 
        padding: 16px;
    }

    .footer__menu {
        flex-direction: column;
        margin: 10px;
    }

}