@media all and (max-width: 1200px) {

    .navigation{
        justify-content: space-between;
    }

    .menu__action{
        display: block;
    }

    .menu__container{
        display: none;
    }

    .form {
        width: 80%;
        flex-wrap: wrap;
    }

    .accesories__content{
        font-size: .8em;
    }
}

@media all and (min-width:1201px){
    .menu__close{
        display: none;
    }
}

@media all and (max-width: 768px) {

    .web__logo{
        width: 100px
    }

    .swiper {
        height: 500px;
    }

    .button{
        border: solid 2.2px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .button3{
        padding: 8px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .carousel__absolute{
        font-size: .6em;
        top: 80px;
    }

    .carousel__button{
        border: solid 2.2px;
        padding: 3px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 60px;
    }

    .frame{
        height: 400px;
    }

    .frame__absolute {
        font-size: .6em;
        top: 50px;
    }

    .frame__content {
        margin-bottom: 65%;
    }

    .accesories__content{
        font-size: .6em;
    }

    .order{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .order h2{
        font-size: 1.95em;
    }

    .form {
        width: 80%;
        padding: 10px;
        font-size: 0.8em;
    }

    .form__item{
        margin-bottom:  18px;
    }

    .form > div {
        width: 100%;
    }

    .footer{
        font-size: 0.7em; 
    }
}

@media all and (max-width: 560px){

    .web__logo{
        width: 80px
    }

    .swiper {
        height: 400px;
    }

    .carousel__absolute{
        font-size: .5em;
        top: 70px;
    }

    .carousel__button{
        border: solid 2px;
    }

    .frame {
        height: 300px;
    }

    .frame__absolute {
        top: 45px;
        font-size: .5em;
    }

    .frame__content {
        margin-bottom: 60%;
    }

    .accesories{
        flex-direction: column-reverse;
    }

    .accesories__content{
        padding-top: 40px;
        font-size: .5em;
    }

    .accesories__content-div{
        padding-bottom: 25px;
    }

    input[type="submit"]{

        padding:12px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: .6em;
    }

    .order{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .order h2{
        font-size: 1.625em;
    }

    .form > div {
        width: 100%;
    }

    .textinput{
        height: 34px;
    }

    .form select{
        height: 34px;
    }

    .footer{
        font-size: 0.5em; 
        padding: 16px;
    }

    .footer__menu {
        flex-direction: column;
        margin: 10px;
    }

}

@media all and (max-width: 375px){

    .frame {
        height: 260px;
    }

    .frame__absolute {
        top: 25px;
        font-size: .45em;
    }

    .frame__content {
        margin-bottom: 60%;
    }

    .accesories__content{
        font-size: .45em;
    }

    .order h2{
        font-size: 1.463em;
    }

    .form{
        font-size: 0.625em;
    }
}