* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.web__logo {
  margin-left: 20px;
  width: 125px;
}

.cart {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.cart__icon {
  width: 100%;
}

.log {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  height: 36px;
  cursor: pointer;
  width: 20px;
}

.product {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 95px;
  display: none;
}

.product.loaded {
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__image {
  width: 60%;
}

.product__mainImage {
  width: 100%;
  -webkit-box-shadow: 4px 4px 15px grey;
          box-shadow: 4px 4px 15px grey;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin-left: 100px;
}

.product__descriptionText {
  font-size: 1.2em;
  margin-bottom: 25px;
}

.product__paragraph {
  font-size: 1em;
}

.product__top {
  width: 100%;
  margin-bottom: 50px;
}

.product__name {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
}

.product__price {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 40px;
}

.product__custom {
  margin-bottom: 20px;
}

.product__custom select {
  background: #ececec;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.product__size {
  font-size: 1em;
  font-weight: 500;
  margin-right: 30px;
}

.product__addToCart {
  width: 50%;
  background-color: #3e6ae1;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  border-radius: 60px;
  font-weight: 600;
  font-size: 0.8em;
}

.product__addToCart:disabled {
  background-color: #494949;
}

.product__bottom {
  color: #717171;
}

.end {
  width: 100%;
  background: black;
  padding: 32px;
  font-size: 0.875em;
  margin-top: auto;
}

.footer__contact {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__button {
  text-decoration: none;
  color: white;
  border: solid 3.2px;
  padding: 4.8px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  border-radius: 60px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 20px;
}

.footer__a {
  color: #ffffff;
  text-decoration: none;
}

.footer__item {
  margin: 0 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  margin-left: 50%;
}

.loader.loaded {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=product.css.map */