*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.web__logo{
    margin-left: 20px;
    width: 125px
}

.filters{
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.select{
    background: #ECECEC;
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 80px;
}

.product{
    display: block;
    width: 30%;
    text-decoration: none;
    color: black;
    font-size: 0.8em;
    margin-top: 30px;

    &__image{
        width: 100%;
        object-fit: contain;
        box-shadow: 4px 4px 15px grey;
    }
    &__description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__text{
        padding: 0 15px;
        margin-top: 20px;
    }
    &__name{
        margin: 5px 0;
    }
    &__price{
        margin: 5px 0;
    }
    &__cart{
        border: none;
        background-color: transparent;
        margin-right: 15px;
        height: 36px;
        cursor: pointer;
        &:disabled{
            background-color: gray;
        }
    }
    &__button{
        width: 100%;
        object-fit: contain;
    }
}

.end{
    background: black;
    padding: 32px;
    font-size: 0.875em; 
}

.footer{
    &__contact{
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__button{
        text-decoration: none;
        color: white;
        border: solid 3.2px;
        padding: 4.8px;
        padding-left: 32px;
        padding-right: 32px;
        font-weight: 500;
        border-radius: 60px;
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 20px;
    }
    &__a{
        color: #FFFFFF;
        text-decoration: none;
    }
    &__item{
        margin: 0 10px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}