* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.web__logo {
  margin-left: 20px;
  width: 125px;
}

.cart {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.cart__icon {
  width: 100%;
}

.log {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin-right: 15px;
  height: 36px;
  cursor: pointer;
  width: 20px;
}

.title {
  font-size: 3em;
  margin-left: 30px;
  margin-bottom: 50px;
}

.filters {
  margin: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.filters__item {
  width: 20%;
}

.filters__text {
  font-size: 1em;
  width: 40%;
  margin-right: 10px;
}

.filters__select {
  background: #ececec;
  border: none;
  width: 60%;
  height: 30px;
  border-radius: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 80px;
}

.product {
  display: block;
  width: 30%;
  text-decoration: none;
  color: black;
  font-size: 0.8em;
  margin-top: 30px;
}

.product__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-shadow: 4px 4px 15px grey;
          box-shadow: 4px 4px 15px grey;
}

.product__description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__text {
  width: 90%;
  height: 100%;
  margin-top: 20px;
  padding-right: 10px;
}

.product__name {
  margin: 5px 0;
}

.product__price {
  margin: 5px 0;
}

.product__cart {
  width: 10%;
  border: none;
  background-color: transparent;
  height: 36px;
  cursor: pointer;
}

.product__icon {
  width: 25px;
}

.product__button {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.end {
  background: black;
  padding: 32px;
  font-size: 0.875em;
}

.footer__contact {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__button {
  text-decoration: none;
  color: white;
  border: solid 3.2px;
  padding: 4.8px;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 500;
  border-radius: 60px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 20px;
}

.footer__a {
  color: #ffffff;
  text-decoration: none;
}

.footer__item {
  margin: 0 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=shop.css.map */